@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';


* {
    
    margin:0;
    padding:0;
    
    
}


body{
    background:#F5F5F5;
    
    font-family:'Alegreya', sans-serif;
}


h2{
    
    text-transform: uppercase;
    font-size:250%;
    font-weight: 700;
    text-align:center;
    padding-top:2%; 
    color: #f5f5f5;
}

h3{
    text-transform: uppercase;
    font-size:175%;
    padding:5% 0;
    font-weight: 400;
    color: #f0f0f0;
    text-align: center;
}

p{
font-size:125%;
line-height: 140%;
padding: 3%;  
text-indent:2%;
text-align:justify;
color: #ffffff;
    
}

img{
    
    max-width:100%;
    height:auto;
    width:auto;
}


header{
    background-color: #6991AC;
    width:100%;
    height: 104px;
    
    
}

.header-inner{
    
    max-width:1200px;
    margin: 0 auto;
    background-color: #6991AC;
}

#logo {
    
    margin:0 20px 0;
    width: 250px;
    float:left;
    height:104px;
    background:url(img/logo.png) no-repeat center;
    background-size: 250px 100px;
}


nav{
    
    float:right;
    padding:25px 20px 0 0;
}


#menu-icon{
    display:hidden;
    width:40px;
    height:40px;
    background: url(img/nav.png) center;
}


a:hover #menu-icon {
    border-radius:4px 4px 0;
}
    

ul{
    
    list-style-type: none;
}

nav ul li {
    
    font-size:150%;
    display:inline-block;
    float:left;
    padding: 10px;
}

nav a {
    color:#f5f5f5;
    text-decoration: none;
    
}

nav a:hover{
    color: #c3d7df;
    transition: all 1s;
    text-decoration: underline;

    
}

.banner{
   width:100%;
    background: #6991AC;
}

.banner-inner{
    max-width:1100px;
    margin: 0 auto;
    display:block;
}

.one-fourth{
    width:25%;
    float:left;
    text-align: center;
    padding:2%;
    box-sizing: border-box;
    border: 1px dotted lightgrey;
}
.one-fourth i{
    
    color:#f0f0f0;
    font-size:400%;
    padding:12% 0 3% 0;
    
}
.one-fourth i:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
    transition: transform 0.7s;
}


#html{
    
    background-color:#F1AA90;
}

#css{
    
    background-color:#BEB9AD;
}

#search{
    background-color:#AADCD2;
}


#user{
    
    background-color: #a2b2c1;
}

.inner-wrapper{
    float:left;
    width:100%;
    background-color: #C3d7df;
}

.inner-wrapper-2{
    float:left;
    width:100%;
    background-color:#c3d7df;
    
    
}

article{
    float:left;
    margin: 0 auto;
    width:50%;
    height:auto;
    
}

#tablet{
    
    background-color: #c3d7df;
    position: relative; 
    
}

#tablet:hover, .mobile2:hover, .desktop{
    
    cursor: pointer;
}

#tablet2{
    background-color:#a2b1c1;
    padding: 13px;
    box-sizing: border-box;
    
    
}

.mobile{
    background-color: #beb9ad;
       padding: 13px;
    box-sizing: border-box;
    
}

.mobile2{
    position: relative;
}



.desktop{
    margin-bottom:5.5em;
    position: relative;
    
}

aside{
    
    float:right;
    width:50%;
    margin: 0 auto;
    height:auto;
    position: relative;

}

.inner-wrapper-3{
    
    width:100%;
    background-color:#C3d7df;
   display: flex;
 
}

.one-third{
    
   text-align: center;
   flex-direction: row;
    height: auto;
    padding:20px;
    max-width:100%;
    position: relative;

}

.one-third p, .one-third h3{
    
    color:#fff;
}



.transbox1{
    
    padding:20px;
    background-color: rgba(194, 204, 214, 0.8);
    box-sizing: border-box;
    

}
.transbox2
{
padding: 20px;
box-sizing: border-box;
background-color: rgba(210, 206, 198, 0.9);
    
}
.transbox3{
    
    padding:20px;
    background-color: rgba(201, 233, 226, 0.8);
    box-sizing: border-box;
    
}

.transbox1:hover, .transbox2:hover, .transbox3:hover{
    
      -webkit-transform: scale(1.05);
  transform: scale(1.05);
    transition: all 1s;
    background:url(img/favicon-opacity.png) no-repeat center ;
}

.small-caps{
    
    font-size: 85%;
    border-radius: 4%;
    
}

.contact{
    background-color:#6991AC;
    max-width: 100%;
    height: auto;
    padding:100px;
    overflow: hidden;
    
background: url(img/lol2.jpg) fixed;
}



.contact button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #f7581e));
	background:-moz-linear-gradient(top, #ffc477 5%, #f7581e 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #f7581e 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #f7581e 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #f7581e 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #f7581e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#f7581e',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:flex;
    justify-content: center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 19px;
	text-decoration:none;
	text-shadow:0px 1px 1px #cc9f52;
    margin: 0 auto;
    
}
.contact button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7581e), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #f7581e 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #f7581e 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #f7581e 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #f7581e 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #f7581e 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7581e', endColorstr='#ffc477',GradientType=0);
	background-color:#f7581e;
    
}
.contact button:active {
	position:relative;
	top:1px;
}

.footer{
    
background-color: #a2b1c1;
    font-size:350%;
   padding: 35px;
     justify-content: center;
   


}

.footer ul{
     flex-direction: row;
     display: flex;
    justify-content: space-around;
    max-width: 100%;
    
}

.footer a > i{
    color:azure;
    text-decoration: none;
    padding: 0 5%;
    box-sizing:border-box;
}

.footer a > i:hover{

  -webkit-transform: scale(1.7);
  transform: scale(1.7);
    transition: all 0.7s;
    
}

.banner{
    
    padding-top: 100px;
}



.footer .fb:hover {
    
    color:	#3b5998;
}

.footer .gplus:hover{
    
   color: #d34836
}

.footer .tw:hover{
    
    color:#00aced;
}

.footer .yt:hover{
    
    color:#bb0000;
}

.footer .in:hover{
    
    color:#e95950;
}

.footer1{
    
    background-color:grey;
    color:white;    

    height:auto;
}

.footer1 p{
    
    text-align: center;
    margin:0;
    padding:15px;
    opacity:0.7;
}


/*------------------------MEDIA SCREENY----------------------------*/

@media screen and (max-width:788px){
    
    h2{
        
        font-size:125%;
    }
    
    h3{
        
        font-size:125%;
    }
    
    p{
        
        font-size: 110%;
    }
    
    header{
        position:absolute;
        
    }
    
    
    #logo{
        margin: 0px 0 0px  2px;
        background: url(img/favicon2.png) no-repeat center;
    }
    
    
    #menu-icon{
        display:inline-block;
       position: absolute;
        right:15px;
    }
    
    nav ul, nav:active ul{
        
        display:none;
        z-index: 999;
        position:absolute;
        padding: 10px;
        background: #6991AC;
        right:20px;
        top:60px;
        border: 1px solid #f5f5f5;
        border-radius:10px 0 10px 2px;
        width:50%;
    }
    
    nav:hover ul{
        display:block;
    }
    
    nav li {
        
        text-align:center;
        width:100%;
        padding: 10px 0;
    }
       
    
    .one-fourth{
       
        width:100%;
        padding:0px;
    
    }
    
    
    .one-fourth i{
        
        font-size:350%;
        padding:6% 0 0% 0;
        margin: 0;
        box-sizing: padding-box;
    }
    
    
    .one-fourth > h3 {
    
        font-weight: 700;
        
    }
    
   
    
 aside, article{
          width:100%;
        
    }
    
    .desktop-image{
        display:none;
        
    }
    
    .desktop{
        margin:0;
    }
    
    
    .one-third{
        
display:flex;
        
    }
    
    .transbox1, .transbox2, .transbox3{
        
        padding:px;
        
    }
    
    .inner-wrapper-3{
        display: flex;
        flex-direction: column;
    }
    
   footer .footer  {
        
        font-size:250%;
    }

 
    
}



.lightbox{
    
    position: fixed;
    z-index: 1000;

    
    
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.2);
    display:none;
    
}


.lightbox-container{
    position:absolute;
    width: 100%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    
    box-shadow: 1px 1px 10px #000;
}




h1 {
    font-family:'Questrial', Verdana, sans-serif;
    text-align:center;
    font-size:40px;
    padding:0;
    margin:0 0 20px 0;
    position:relative;
    color:#8C8C8C;
}
/** have a nice ampersand **/
 h1:after {
    font-size:25px;
    color:#D6CFCB;
    content:'&';
    text-align:center;
    display:block;
    width:100%;
    font-family:'Alice', Verdana, serif;
    text-shadow: 0px 1px 0px #fff;
}
/** create the gradient bottom **/
 h1:before {
    position:absolute;
    bottom:15px;
    content:' ';
    text-align:center;
    display:block;
    height:2px;
    width:100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(182, 180, 180, 0.7)), color-stop(43%, rgba(180, 178, 178, 0)), color-stop(50%, rgba(168, 166, 166, 0)), color-stop(57%, rgba(180, 178, 178, 0)), color-stop(58%, rgba(182, 180, 180, 0.7)), color-stop(90%, rgba(238, 237, 237, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
}
/* Here comes to good stuff : content styling */
 #content {
    position:relative;
    margin:50px auto;
    max-width:400px;
     min-width: 200px;
    min-height:200px;
    z-index:100;
    padding:30px;
    border:1px solid #383838;
    /* My stipped background */
    background: #D1D1D1;
    /* Old browsers */
    background: -moz-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
    /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
    /* FF3.6+ */
    background: -o-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
    /* FF3.6+ */
    background: repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
    /* FF3.6+ */
    /*border-radius*/
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 6px #3F3F3F;
    -moz-box-shadow:0px 1px 6px #3F3F3F;
    box-shadow:0px 1px 6px #3F3F3F;
}
/** my "fake" background that will hover the stripes **/
 #content:after {
    background:#F9F9F9;
    margin:10px;
    position: absolute;
    content :" ";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border:1px #E5E5E5 solid;
    /*border-radius*/
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
/*** form styling **/

/** we remove the red glow around required fields since we are already using the red star */
 input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
/** inputs and textarea**/
 input:not([type="submit"]), textarea {
    outline:none;
    display:block;
    width:380px;
     min-width: 200px;
    padding:4px 8px;
    border:1px dashed #DBDBDB;
    color:#3F3F3F;
    font-family:'Droid Sans', Tahoma, Arial, Verdana sans-serif;
    font-size:14px;
    /*border-radius*/
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    /*transition*/
    -webkit-transition:background 0.2s linear, box-shadow 0.6s linear;
    -moz-transition:background 0.2s linear, box-shadow 0.6s linear;
    -o-transition:background 0.2s linear, box-shadow 0.6s linear;
    transition:background 0.2s linear, box-shadow 0.6s linear;
}
input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
    background:#F7F7F7;
    border:dashed 1px #969696;
    /*box-shadow*/
    -webkit-box-shadow:2px 2px 7px #E8E8E8 inset;
    -moz-box-shadow:2px 2px 7px #E8E8E8 inset;
    box-shadow:2px 2px 7px #E8E8E8 inset;
}
input:not([type="submit"]) {
    height: 20px;
}
/* placeholder */
 ::-webkit-input-placeholder {
    color:#BABABA;
    font-style:italic;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#BABABA;
    font-style:italic;
}
textarea {
    min-height:150px;
    resize:vertical
}
/** labels**/

/** adding our icon font !! */
 .iconic:before {
    font-size:25px;
    font-family:'Alice', Verdana, serif;
}
.iconic.link:before {
    content:'/';
}
.iconic.quote-alt:before {
    content:"'";
}
.iconic.comment:before {
    content:"q";
}
.iconic.user:before {
    content:"u";
}
.iconic.mail-alt:before {
    content:"M";
}
label {
    color:#7F7E7E;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover {
    color:#191919;
}
label:before {
    color:#C1BFBD;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover:before {
    color:#969696;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
p {
    margin-bottom:20px;
}
.indication {
    color:#878787;
    font-size:12px;
    font-style:italic;
    text-align:right;
    padding-right:10px;
}
.required {
    color:#E5224C;
}
/** Styling the send button **/
 input[type=submit] {
    margin-left:235px;
    cursor:pointer;
    background:none;
    border:none;
    font-family:'Alice', serif;
    color:#767676;
    font-size:18px;
    padding:10px 4px;
    border:1px solid #E0E0E0;
    text-shadow: 0px 1px 1px #E8E8E8;
    background: rgb(247, 247, 247);
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(top, rgba(247, 247, 247, 1) 1%, rgba(242, 242, 242, 1) 100%);
    /*border-radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
    -moz-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
    box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
    /*transition*/
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
input[type=submit]:hover {
    color:#686868;
    border-color: #CECECE;
    background: rgb(244, 244, 244);
    background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(242, 242, 242, 1) 100%);
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
    -moz-box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
    box-shadow:0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}
input[type=submit]:active, input[type=submit]:focus {
    position:relative;
    top:1px;
    color:#515151;
    background: rgb(234, 234, 234);
    background: -moz-linear-gradient(top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(234, 234, 234, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(top, rgba(234, 234, 234, 1) 0%, rgba(242, 242, 242, 1) 100%);
    /*box-shadow*/
    -webkit-box-shadow:0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
    -moz-box-shadow:0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
    box-shadow:0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}

header{
    
    z-index: 999;
}

.submit-button{
    display: flex;
    justify-content: flex-end;
    
}
